{% extends "cmsbase.html" %}
{% load compress static %}
{% block title %} {{block.super}} | CMS - Seiteninhalt {% endblock %}

<!-- Needed for Galery (Slick) -->
{% block javascript %}
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="{% static 'css/cms/slick/slick-carousel.css' %}" />
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="{% static 'css/cms/slick/slick-theme.css' %}" />
{% endblock %}

{% block content %}

{% include "pages/cms/components/GalerySelectModal.html" %}

<div class="container mx-auto mt-8">
    <div class="flex justify-between">
        <h1 class="text-2xl "><a href="{% url 'cms:sites' %}" class="text-blue-500">Seiten</a> / <a
                href="{% url 'cms:site_hauptseite' %}" class="text-blue-500">Hauptseite</a> / <span>Calculation</span></h1>
        <div>
            {% csrf_token %}
            <a class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-6 hover:cursor-pointer"
                id="saveTextData" name="main_calculation">
                Speichern
            </a>
        </div>
    </div>

    <div class="flex justify-center w-full">
        <div class="relative isolate overflow-visible pt-16 md:pt-24 lg:flex lg:gap-x-20 lg:pt-0 lg:mt-20 w-full">
            <!-- Foto-PC -->
            <div class="lg:mx-0 lg:flex-auto lg:py-16 lg:text-left justify-center flex w-full flex-col items-center">
                <div>
                    <input
                        class="bg-gray-200 mt-3 appearance-none text-center border-2 border-gray-200 rounded-lg w-full inline-block py-2 px-4 mb-6 text-2xl font-bold tracking-tight text-teal-900 uppercase leading-tight focus:outline-none focus:bg-white focus:border-blue-500"
                        id="title" type="text"
                        value="{% if textContent and textContent.title %}{{textContent.title}}{% else %}Content Management System{% endif %}">
                    <textarea rows="8"
                        class="bg-gray-200 rounded-lg appearance-none border-2 border-gray-200 w-full py-2 px-4 text-base text-gray-800 md:text-lg leading-tight focus:outline-none focus:bg-white focus:border-blue-500"
                        id="description" type="text">{% if textContent and textContent.title %}{{textContent.description}}{% else %} Unser eigenes Content-Management-System (CMS) ist eine leistungsstarke Lösung für die Verwaltung und Aktualisierung Ihrer Website. Ein CMS ermöglicht es Ihnen, Inhalte wie Texte, Bilder und Videos einfach zu erstellen, zu bearbeiten und zu veröffentlichen. Darüber hinaus ermöglicht unser CMS eine dynamische Anpassung Ihrer Homepage, indem es Ihnen die einfache Integration interaktiver Elemente und die automatische Aktualisierung von Inhalten ermöglicht.  
                    {% endif %}
                    </textarea>

                    <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start mb-5">
                        <button
                            class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
                            type="button">
                            <input
                                class="bg-gray-200 appearance-none text-center border-2 border-gray-200 rounded-lg w-full inline-block py-2 px-4 font-bold tracking-tight text-teal-900 leading-tight focus:outline-none focus:bg-white focus:border-blue-500"
                                id="buttonText" type="text"
                                value="{% if textContent and textContent.buttonText %}{{textContent.buttonText}}{% else %}Start your claim today{% endif %}">
                        </button>
                    </div>
                </div>
                <!-- Foto-Mobil -->
            </div>
            <div class="mx-auto flex w-full justify-center px-4">
                <div class="relative flex flex-col bg-clip-border bg-white text-gray-700 shadow-lg border shadow-gray-500/10 rounded-lg text-content" key="main_calculation_card">
                    <span class="absolute top-0 left-0 inline-block px-2 py-1 text-sm font-semibold text-white bg-orange-500 rounded-full not-sortable z-40 hover:cursor-pointer edit-galery">
                        <i class="bi bi-pencil-square"></i>
                    </span>
                    <!-- Slick-Galerie -->
                    <div class="rounded-2xl overflow-hidden bg-white text-gray-700 shadow-lg m-2 galery-container" galery-id="-1" key="main_calculation">
                        <div class="carousel container mx-auto max-w-lg w-full px-2 md:px-0 rounded-2xl h-60">
                            {% if calculationImages %}
                            {% for img in calculationImages %}
                            <div>
                                <img src="{{img.upload.url}}" alt="{{img.title}}" class="w-full rounded-2xl h-60 object-cover">
                            </div>
                            {% endfor %}
                            {% else %}
                            <div>
                                <img src="https://placehold.co/900x600" alt="Bild 1" class="w-full rounded-2xl h-60 object-cover">
                            </div>
                            <div>
                                <img src="https://placehold.co/900x600?text=Bild+2" alt="Bild 2" class="w-full rounded-2xl h-60 object-cover">
                            </div>
                            <div>
                                <img src="https://placehold.co/900x600?text=Bild+3" alt="Bild 3" class="w-full rounded-2xl h-60 object-cover">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    
                    <!-- Inhalt -->
                    <div class="p-6">
                        <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded-lg w-72 text-center inline-block py-2 px-4 text-xs font-semibold tracking-wider text-teal-900 uppercase leading-tight focus:outline-none focus:bg-white focus:border-blue-500"
                            inputType="header" type="text"
                            value="{% if cardContent and cardContent.header %}{{ cardContent.header }}{% else %}Compensation Eligibility{% endif %}">
                        <input class="bg-gray-200 mt-3 appearance-none text-center border-2 border-gray-200 rounded-lg w-full inline-block py-2 px-4 mb-6 text-lg font-bold tracking-tight text-teal-900 leading-tight focus:outline-none focus:bg-white focus:border-blue-500"
                            inputType="title" type="text"
                            value="{% if cardContent and cardContent.title %}{{ cardContent.title }}{% else %}Who can claim compensation?{% endif %}">
                        <textarea rows="8" class="bg-gray-200 rounded-lg appearance-none border-2 border-gray-200 w-full py-2 px-4 text-base text-gray-800 md:text-lg leading-tight focus:outline-none focus:bg-white focus:border-blue-500"
                            inputType="description" type="text">{% if cardContent and cardContent.title %}{{ cardContent.description }}{% else %}You are eligible if you purchased, leased, or financed new trucks from Scania, Daimler/Mercedes, MAN, Volvo/Renault, DAF, or Iveco between 1997 and 2016. Whether you own a single truck or an entire fleet, you may have a valid claim.{% endif %}
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% block javascriptend %}
{% compress js inline %}
<script defer src="{% static 'js/cms.js' %}"></script>
<script defer src="{% static 'js/cms/content/siteManager.js' %}"></script>
<script src="{% static 'js/cms/content/save-text.js' %}"></script>
<!-- Needed for Galery -->
<script type="text/javascript" src="{% static 'js/cms/slick/slick.min.js' %}"></script>
<script>
    $('.carousel').slick({
            dots: true,
            arrows: true,
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 3000,
        });
</script>
<script defer>
    $(document).ready(function () {
        loadGalerien(false);
    })
</script>
{% endcompress js %}
{% endblock javascriptend %}



{% endblock content %}